<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
    <link rel="stylesheet" href="/stylesheets/foundation.min.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>
    <%= yield %>

    <script src="javascripts/vendor/jquery.min.js"></script>
    <script src="javascripts/vendor/what-input.min.js"></script>
    <script src="javascripts/foundation.min.js"></script>
    <script src="/javascripts/lodash.min.js"></script>
    <script src="/javascripts/app.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
